/*CSS styles for term project by Emma Coleman */
html {
  background-color: #FEFEFE;
}
img {
  height: 100%;
  width: 100%;
}
h1 {
  text-align: center;
  color: #040404;
}
h2 {
  text-align: center;
  color: #395947;
}
p {
  text-align: center;
  color: #040404;
}
a {
  color: #D378A7;
}
div {
  border-left-style: solid;
  border-left-width: 16px;
  border-left-color: #395947;
  padding-left: 6px;
  border-right-style: solid;
  border-right-width: 16px;
  border-right-color: #395947;
  padding-right: 6px;
}
